.listing {
    .toys {
        .list-toys {
            padding-right: 0;
            li {
                @media #{$mobile} {
                    margin-left: 0;
                }
                a {
                    @media #{$mobile} {
                        margin-left: 10px;
                        margin-right: 0;
                    }
                }
            }
        }
    }
}
