.invoice-steps {
    background-color: rgba($color: $light-green-color, $alpha: 0.7);
    padding: 50px;
    margin-bottom: 30px;
    @media #{$mobile} {
        padding: 30px;
        justify-content: space-between !important;
    }
}
.invoice-step {
    &:not(:last-child) {
        .invoice-step__point {
            &::after {
                content: "";
                height: 1px;
                width: 530px;
                background-color: #A09D9D;
                display: block;
                position: absolute;
                top: 50%;
                left: 30px;
                transform: translateY(-50%);
                @media #{$mobile} {
                    width: 380px;
                }
                @media #{$ipadPro} {
                    width: 340px;
                }
            }
        }       
    }
    &.active {
        .invoice-step__point {
            box-shadow: 0 0px 0px 8px rgba($color: $green-color, $alpha: 0.4);
            &::before {
                content: "";
                width: 22px;
                height: 22px;
                border-radius: 50%;
                background-color: $green-color;
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
            }
        } 
    }
}
.invoice-step__point {
    position: relative;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid #A09D9D;
    background-color: #F4F5F7;
    margin: 0 auto 30px;
}
.invoice-step__title {
    font-size: 22px;
    line-height: 27px;
    color: #181818;
    margin-bottom: 15px;
    @media #{$mobile} {
        font-size: 19px;
        margin-bottom: 6px;
    }
}
.invoice-step__date-and-time {
    font-size: 17px;
    color: $black-color;
    font-weight: normal;
    @media #{$mobile} {
        font-size: 14px;
    }
}   

.invoice-main-info {
    background-color: $light-green-color;
    padding: 25px;
    margin-bottom: 30px;
}
.invoice-main-info__title {
    font-size: 23px;
    line-height: 27px;
    margin-bottom: 5px;
    color: $black-color;
    @media #{$mobile} {
        font-size: 20px;
        margin-bottom: 20px;
    }
}
.invoice-main-info__first-info {
    margin-bottom: 30px;
    padding: 0 20px;
    @media #{$mobile} {
        margin-bottom: 19px;
    }
    li {
        font-size: 20px;
        line-height: 24px;
        @media #{$mobile} {
            font-size: 12px;
            line-height: 15px;
        }
    }
}
.invoice-main-info__second-info {
    background-color: #F8FCFA;
    border: 1px solid $green-color;
    padding: 12px 20px;
    @media #{$mobile} {
        margin: 0;
    }
    li {
        font-size: 17px;
        line-height: 21px;
        @media #{$mobile} {
            font-size: 10px;
            line-height: 19px;
            text-align: center;
        }
    }
}

.invoice-secondary-info {
    border: 1px solid $green-color;
    padding: 50px 50px 20px;
    margin-bottom: 15px;
    @media #{$mobile} {
        padding: 30px 20px 10px;
        .row {
            justify-content: space-between;
            > div {
                flex: 0 0 auto;
                width: 33.33333333%;
            }
        }
    }
    p {
        font-size: 14px;
        margin-bottom: 8px;
        span {
            font-size: 21px;
        }
    }
    hr {
        background-color: $green-color;
        margin: 30px 80px;
    }
}
.invoice-secondary-info__title {
    font-size: 22px;
    font-weight: bold;
    line-height: 25px;
    color: $black-color;
    margin-bottom: 35px;
    @media #{$mobile} {
        font-size: 19px;
        margin-bottom: 20px;
    }
}
.invoice-actions {
    margin-top: 40px;
    .download-btn {
        margin: 0 15px;
    }
}
.user-invoice-footer {
    margin: 70px 0;
    a.invoice-email {
        font: {
            size: 14px;
            weight: normal;
        };
        color: #2A2B2C;
        margin-bottom: 15px;
        display: inline-block;
    }
    p {
        font: {
            size: 15px;
            weight: normal;
        };
        @media #{$mobile} {
            padding: 0 50px;
        }
    }
    a.unsubscribe {
        color: $green-color;
        text-decoration: underline !important;
    }
}
.user-account__brand {
    img {
        width: 315px;
        height: 105px;
        @media #{$mobile} {
            width: 190px;
            height: auto;
        }
    }
    margin-bottom: 40px;
}

.welcome-and-reset-pass-screen {
    background-color: $light-green-color;
    padding: 50px;
    border-radius: 3px;
    width: 900px;
    margin: auto;
    @media #{$mobile} {
        width: 100%;
    }
    .main-btn {
        width: 180px;
        line-height: 43px;
        margin-top: 50px;
        @media #{$mobile} {
            margin-top: 25px;
            line-height: 39px;
        }
    }
    h1 {
        font: {
            size: 30px;
            weight: bold
        };
        line-height: 60px;
        margin-bottom: 30px;
        margin-top: 55px;
        @media #{$mobile} {
            font-size: 26px;
            margin-top: 30px;
            margin-bottom: 15px;
        }
    }
    p {
        margin-bottom: 30px;
    }
}

.user-account {
    @media #{$mobile} {
        overflow-x: auto;
    }
    .invoice-container {
        @media #{$mobile} {
            width: 1000px;
            max-width: 1000px;
        }
    }
}