.filter-flush {
    width: 250px;
    transition: all .5s ease-out;
    @media #{$mobile} {
        width: 100%;
        height: 0;
        overflow: hidden;
        margin-bottom: 20px;
    }
    &.filter-visible {
        @media #{$mobile} {
            height: 436px;
            animation: FilterInserted 0.5s ease-out;
        }
    }
    &.filter-hidden {
        @media #{$mobile} {
            animation: FilterHidden 0.5s ease-out;
        }
    }
    .filter-header {
        margin-bottom: 9px;
        font-size: 30px;
    }
    .accordion-item {
        border: none;
        border-bottom: 1px solid rgba($default-text-color, .12);
        &:last-of-type {
            border-bottom: 0;
        }
        .accordion-header {
            .accordion-button {
                padding: 15px 0;
                color: $default-text-color;
                &:focus {
                    box-shadow: none !important;
                }
                &:not(.collapsed) {
                    background-color: transparent;
                    box-shadow: none !important;
                }
                &:after {
                    background-image: url('../images/icons/to-bottom-2.png');
                    width: 8px;
                    height: 4px;
                    background-size: cover;
                }
            }
        }
        .d-range {
            text-align: right;
            margin-top: 10px;
            font-size: 14px;
        }
        &:last-of-type {
            .accordion-body {
                padding-top: 0;
            }
        }
    }
    .apply-filter {
        display: flex;
        align-items: center;
        justify-content: space-between;
        .apply {
            background-color: $green-color;
            border: 1px solid $green-color;
            width: calc(100% - 50px);
            height: 40px;
            border-radius: 3px;
            color: $white-color;
            box-shadow: 0px 4px 19px #1D2C2430;
            transition: .3s;
            &:hover {
                background-color: $white-color;
                color: $green-color;
                box-shadow: none;
            }
        }
        .reload {
            width: 40px;
            height: 40px;
            background: transparent;
            border: 1px solid $green-color;
            padding: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: .3s;
            i {
                color: $green-color;
                font-size: 20px;
                transition: .3s;
            }
            &:hover {
                background-color: $green-color;
                color: $white-color;
                box-shadow: 0px 4px 19px #1D2C2430;
                i {
                    color: $white-color;
                }
            }
        }
    }
}