.guest-checkout-content {
    padding-top: 35px;
    @media #{$mobile} {
        padding-top: 0;
    }
    .guest-checkout {
        padding-top: 35px;
        @media #{$ipadPro} {
            width: 65%;
        }
        .title-guest {
            font-weight: 600;
            @media #{$mobile} {
                margin-bottom: -10px;
            }
        }
        form {
            label {
                color: #181818;
                margin-bottom: 30px;
                margin-top: 30px;
            }
            .form-group {
                max-width: 500px;
                .main-input {
                    padding-left: 20px;
                }
                &.custom-input {
                    display: flex;
                    .main-input {
                        width: calc(50% - 5px);
                        &:first-of-type {
                            margin-right: 10px;
                        }
                    }
                }
                &.btns-group {
                    button {
                        width: calc(50% - 7.5px);
                        @media #{$maxSmallMobile} {
                            width: calc(49% - 7.5px);
                            font-size: 15px;
                        }
                        &:first-of-type {
                            margin-right: 10px;
                        }
                    }
                }
            }
        }
    }
    .product-delivery {
        @media #{$ipadPro} {
            width: 35%;
        }
    }
}