.guest-checkout-content {
    .guest-checkout {
        form {
            .form-group {
                .main-input {
                    padding-right: 20px;
                }
                &.custom-input {
                    .main-input {
                        width: calc(50% - 5px);
                        &:first-of-type {
                            margin-right: 0;
                            margin-left: 10px;
                        }
                    }
                }
                &.btns-group {
                    button {
                        width: calc(50% - 7.5px);
                        &:first-of-type {
                            margin-right: 0;
                            margin-left: 10px;
                        }
                    }
                }
            }
        }
    }
}